.img-box {
  display: flex;
  flex-direction: column;

}

.img-box h3 {
  text-align: left;
}

.img-responsive {
  max-width: 22rem;
  height: auto;
  margin-bottom: 2rem;
}

.img-box img {
  width: 100%;
}

.img-round {
  border-radius: 50%;
  margin-bottom: 2rem;
}
