<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rhythm UI |Docs |Card</title>
    <link rel="shortcut icon" href="/favicon.ico?v=2" type="image/x-icon" />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    />
    <link rel="stylesheet" href="/index.css" />
    <link rel="stylesheet" href="/docs.css" />
    <link rel="stylesheet" href="/Components-CSS/button.css" />
    <link rel="stylesheet" href="/Components-CSS/badge.css" />
    <link rel="stylesheet" href="/Components-CSS/card.css" />
  </head>
  <body>
    <div class="container">
      <nav class="header">
        <a class="logo" href="/index.html">
          <img width="80" src="/images/music.svg" alt="logo" />
          <span><strong> RHYTHM UI</strong></span>
        </a>
        <div class="search-container">
          <div class="search-box search">
            <i class="fas fa-search"></i>

            <span>
              <input type="text" name="" placeholder="Search..." />
            </span>
          </div>
        </div>
        <a class="home" href="/">
          <i class="fas fa-home"></i>

          Home</a
        >
        <a class="docs active" href="/docs.html">
          <i class="fas fa-file-alt"></i>

          Docs</a
        >
        <a
          class="github"
          target="blank"

          href="https://github.com/chandana105/rhythm-ui-component-library"
          ><i class="fab fa-github"></i>

          Github</a
        >
      </nav>
      <div class="side-bar">
        <ul>
          <li>
            <a href="/docs.html">Getting Started</a>
          </li>
          <li>
            <a href="/Components/avatar.html">Avatar</a>
          </li>
          <li>
            <a href="/Components/alert.html">Alert</a>
          </li>
          <li>
            <a href="/Components/badge.html">Badge</a>
          </li>
          <li>
            <a href="/Components/button.html">Button</a>
          </li>
          <li>
            <a href="/Components/card.html" class="active">Card</a>
          </li>
          <li>
            <a href="/Components/image.html">Image</a>
          </li>
          <li>
            <a href="/Components/input.html">Input</a>
          </li>
          <li>
            <a href="/Components/lists.html"> Lists</a>
          </li>
          <li>
            <a href="/Components/navigation.html">Navigation</a>
          </li>
          <li>
            <a href="/Components/modal.html">Modal</a>
          </li>
          <li>
            <a href="/Components/rating.html">Rating</a>
          </li>
          <li>
            <a href="/Components/grid.html"> Simplified Grid</a>
          </li>
          <li>
            <a href="/Components/typography.html">Text Utilities</a>
          </li>
          <li>
            <a href="/Components/snackbar.html">Snackbar</a>
          </li>
        </ul>
      </div>
      <div class="content">
        <main>
          <h1>Cards</h1>
          <br />

          <div class="card-container">
            <h3>Card with badge</h3>
            <br />
            <div class="card">
              <div class="thumbnail">
                <img src="/images/card.webp" alt="card" />
                <span class="badge-regular bg-primary badge">NEW</span>
              </div>
              <div class="text">
                <h2 class="heading">English Skirts</h2>
                <span class="lower">Women Slim Fit Formal Skirts</span>
                <span class="price">
                  <span class="product-price">Rs 479</span>
                  <span class="price-strike">Rs 999</span>
                  <span class="discount">(52% OFF)</span>
                </span>
              </div>
            </div>

            <div class="card-code">
              <iframe
                src="https://carbon.now.sh/embed/xUmJoGJFi3vZVYJdBehm"
                sandbox="allow-scripts allow-same-origin"
              >
              </iframe>
            </div>

            <h3>Card with dismiss</h3>
            <br />
            <div class="card">
              <div class="thumbnail">
                <img src="/images/card.webp" alt="card" />

                <span class="badge-regular bg-primary badge">NEW</span>
                <button class="close">
                  <i class="fas fa-times"></i>
                </button>
              </div>
              <div class="text">
                <h2 class="heading">English Skirts</h2>
                <span class="lower">Women Slim Fit Formal Skirts</span>
                <span class="price">
                  <span class="product-price">Rs 479</span>
                  <span class="price-strike">Rs 999</span>
                  <span class="discount">(52% OFF)</span>
                </span>
              </div>
            </div>

            <div class="card-dismiss-code">
              <iframe
                src="https://carbon.now.sh/embed/2WutyFyiY21jaZHoD8TV"
                sandbox="allow-scripts allow-same-origin"
              >
              </iframe>
            </div>

            <h3>Card with text overlay</h3>
            <br />
            <div class="card">
              <div class="thumbnail">
                <img src="/images/card.webp" alt="card" />

                <span class="badge-regular bg-primary badge">NEW</span>
                <button class="close">
                  <i class="fas fa-times"></i>
                </button>
              </div>
              <div class="text">
                <h2 class="heading">English Skirts</h2>
                <span class="lower">Women Slim Fit Formal Skirts</span>
                <span class="price">
                  <span class="product-price">Rs 479</span>
                  <span class="price-strike">Rs 999</span>
                  <span class="discount">(52% OFF)</span>
                </span>
              </div>
              <div class="overlay">
                <span>OUT OF STOCK</span>
              </div>
            </div>

            <div class="card-overlay-code">
              <iframe
                src="https://carbon.now.sh/embed/550Nlt17PGuNTlmMHqXw"
                sandbox="allow-scripts allow-same-origin"
              >
              </iframe>
            </div>

            <h3>Card with shadow</h3>
            <br />
            <div class="card shadow">
              <div class="thumbnail">
                <img src="/images/card.webp" alt="card" />

                <span class="badge-regular bg-primary badge">NEW</span>
                <button class="close">
                  <i class="fas fa-times"></i>
                </button>
              </div>
              <div class="text">
                <button class="wish">
                  <i class="far fa-heart fa-lg"></i>
                </button>
                <h2 class="heading">English Skirts</h2>
                <span class="lower">Women Slim Fit Formal Skirts</span>
                <span class="price">
                  <span class="product-price">Rs 479</span>
                  <span class="price-strike">Rs 999</span>
                  <span class="discount">(52% OFF)</span>
                </span>
              </div>
              <button class="btn btn-primary">Add To Cart</button>
            </div>

            <div class="card-shadow-code">
              <iframe
                src="https://carbon.now.sh/embed/S64qwLZeEkVHkdKRYvKF"
                sandbox="allow-scripts allow-same-origin"
              >
              </iframe>
            </div>

            <!-- horizontal -->
            <h3>Horizontal card</h3>
            <br />
            <div class="card2 card-horizontal">
              <div class="thumbnail">
                <img src="/images/card.webp" alt="horizontal-img" />
              </div>
              <div class="text">
                <span class="card-title">Card Title</span>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Aspernatur, fuga vero aliquam ducimus error obcaecati unde
                  ipsum voluptas temporibus nihil molestias voluptates. Aliquam
                  maiores repellat sed quas amet itaque tempore impedit placeat!
                  Explicabo id iste, velit nobis veniam ab. Deleniti nihil et id
                  alias. Quidem, nostrum? Laborum dolore rem quo.
                </p>
              </div>
              <button class="close">
                <i class="fas fa-times"></i>
              </button>
            </div>

            <div class="card-horizontal-code">
              <iframe
                src="https://carbon.now.sh/embed/acB4Y8I18h6vVlzOCZD3"
                sandbox="allow-scripts allow-same-origin"
              >
              </iframe>
            </div>

            <!-- textonly card -->
            <h3>Text only card</h3>
            <br />
            <div class="card text shadow">
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Nostrum beatae quidem distinctio repellat maiores, quae odit
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
                quo nam aliquam sint. Porro quasi error minus ad dolor!
                Asperiores laborum corrupti atque omnis voluptates, vero aliquid
                ipsam porro accusantium?
              </p>
              <button class="close">
                <i class="fas fa-times"></i>
              </button>
            </div>

            <div class="card-text-code">
              <iframe
                src="https://carbon.now.sh/embed/3i3Zx6ZJZNmyImb0S6SX"
                sandbox="allow-scripts allow-same-origin"
              >
              </iframe>
            </div>
          </div>
          <button class="floating" id="floating-btn" onclick="topFunction()">
            <i class="fas fa-arrow-up fa-lg"></i>
          </button>
        </main>
      </div>
     <div class="footer">
        <div class="footer-text">
          <span>Made with <i class="fas fa-heart"></i> by Chandana Mahajan</span>
        </div>

      </div>
  </body>
  <script src="/index.js"></script>
</html>
