<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rhythm UI |Docs |Grid</title>
    <link rel="shortcut icon" href="/favicon.ico?v=2" type="image/x-icon" />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    />
    <link rel="stylesheet" href="/index.css" />
    <link rel="stylesheet" href="/docs.css" />
    <link rel="stylesheet" href="/Components-CSS/grid.css" />
  </head>
  <body>
    <div class="container">
      <nav class="header">
        <a class="logo" href="/index.html">
          <img width="80" src="/images/music.svg" alt="logo" />
<strong> RHYTHM UI</strong>
        </a>
        <div class="search-container">
          <div class="search-box search">
            <i class="fas fa-search"></i>

                <input type="text" name="" placeholder="Search..." />
          </div>
        </div>
        <a class="home" href="/">
          <i class="fas fa-home"></i>

          Home</a
        >
        <a class="docs active" href="/docs.html">
          <i class="fas fa-file-alt"></i>

          Docs</a
        >
        <a
          class="github"
          target="blank"

          href="https://github.com/chandana105/rhythm-ui-component-library"
          ><i class="fab fa-github"></i>

          Github</a
        >
      </nav>
      <div class="side-bar">
        <ul>
          <li>
            <a href="/docs.html">Getting Started</a>
          </li>
          <li>
            <a href="/Components/avatar.html">Avatar</a>
          </li>
          <li>
            <a href="/Components/alert.html">Alert</a>
          </li>
          <li>
            <a href="/Components/badge.html">Badge</a>
          </li>
          <li>
            <a href="/Components/button.html">Button</a>
          </li>
          <li>
            <a href="/Components/card.html">Card</a>
          </li>
          <li>
            <a href="/Components/image.html">Image</a>
          </li>
          <li>
            <a href="/Components/input.html">Input</a>
          </li>
          <li>
            <a href="/Components/lists.html"> Lists</a>
          </li>
          <li>
            <a href="/Components/navigation.html">Navigation</a>
          </li>
          <li>
            <a href="/Components/modal.html">Modal</a>
          </li>
          <li>
            <a href="/Components/rating.html">Rating</a>
          </li>
          <li>
            <a href="/Components/grid.html" class="active"> Simplified Grid</a>
          </li>
          <li>
            <a href="/Components/typography.html">Text Utilities</a>
          </li>
          <li>
            <a href="/Components/snackbar.html">Snackbar</a>
          </li>
        </ul>
      </div>

      <div class="content">
        <main>
          <h1>Simplified Grid</h1>
          <h3>Grid-2</h3>
          <div class="grid-container1">
            <div class="item1">Item1</div>
            <div class="item2">Item2</div>
          </div>
          <div class="grid-code">
            <iframe
              src="https://carbon.now.sh/embed/aBBPu0LnRNNiw1EqMeAQ"
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>

          <h3>Grid-3</h3>
          <div class="grid-container2">
            <div class="item1">Item1</div>
            <div class="item2">Item2</div>
            <div class="item3">Item3</div>
          </div>
          <div class="grid-code">
            <iframe
              src="https://carbon.now.sh/embed/eMX5zxWaTdwp8hdC2kRm"
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
          <button class="floating" id="floating-btn" onclick="topFunction()">
            <i class="fas fa-arrow-up fa-lg"></i>
          </button>
        </main>
      </div>
     <div class="footer">
        <div class="footer-text">
          <span>Made with <i class="fas fa-heart"></i> by Chandana Mahajan</span>
        </div>

      </div>
  </body>
  <script src="/index.js"></script>
</html>
