<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Text Utilities</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    />
    <link rel="stylesheet" href="/index.css" />
    <link rel="stylesheet" href="/docs.css" />
    <link rel="stylesheet" href="/Components-CSS/typography.css" />
  </head>
  <body>
    <div class="container">
      <nav class="header">
        <a class="logo" href="/index.html">
          <img width="80" src="/images/music.svg" alt="logo" />
          <span><strong> RHYTHM UI</strong></span>
        </a>
        <div class="search-container">
          <div class="search-box search">
            <i class="fas fa-search"></i>

            <span>
              <input type="text" name="" placeholder="Search..." />
            </span>
          </div>
        </div>
        <a class="home" href="/">
          <i class="fas fa-home"></i>

          Home</a
        >
        <a class="docs active" href="/docs.html">
          <i class="fas fa-file-alt"></i>

          Docs</a
        >
        <a class="github" href="/docs.html"
          ><i class="fab fa-github"></i>

          Github</a
        >
      </nav>
      <div class="side-bar">
        <ul>
          <li>
            <a href="/docs.html">Getting Started</a>
          </li>
          <li>
            <a href="/Components/avatar.html">Avatar</a>
          </li>
          <li>
            <a href="/Components/alert.html">Alert</a>
          </li>
          <li>
            <a href="/Components/badge.html">Badge</a>
          </li>
          <li>
            <a href="/Components/button.html">Button</a>
          </li>
          <li>
            <a href="/Components/card.html">Card</a>
          </li>
          <li>
            <a href="/Components/image.html">Image</a>
          </li>
          <li>
            <a href="/Components/input.html">Input</a>
          </li>
          <li>
            <a href="/Components/lists.html"> Lists</a>
          </li>
          <li>
            <a href="/Components/navigation.html">Navigation</a>
          </li>
          <li>
            <a href="/Components/modal.html">Modal</a>
          </li>
          <li>
            <a href="/Components/rating.html">Rating</a>
          </li>
          <li>
            <a href="/Components/grid.html"> Simplified Grid</a>
          </li>
          <li>
            <a href="/Components/typography.html" class="active"
              >Text Utilities</a
            >
          </li>
          <li>
            <a href="/Components/snackbar.html">Snackbar</a>
          </li>
        </ul>
      </div>
      <div class="content">
        <main>
          <h1>Typography</h1>
          <br />
          <div class="heading-container">
            <h1>This is a Heading 1</h1>
            <h2>This is a Heading 2</h2>
            <h3>This is a Heading 3</h3>
            <h4>This is a Heading 4</h4>
            <h5>This is a Heading 5</h5>
            <h6>This is a Heading 6</h6>
            <small>This is a small text</small>
            <p class="gray-text">This is a gray text</p>
            <p class="center-text">This is a centered text</p>
          </div>
          <div class="typography-code">
            <iframe
              src="https://carbon.now.sh/embed/MB3KzmMW3IA7BFbwJfay"
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
          <button class="floating" id="floating-btn" onclick="topFunction()">
            <i class="fas fa-arrow-up fa-lg"></i>
          </button>
        </main>
      </div>
      <div class="footer">
        <span>Made with <i class="fas fa-heart"></i> by Chandana Mahajan</span>
      </div>
    </div>
  </body>
  <script src="/index.js"></script>
</html>
